.home-page {
  margin: 10px;
  padding: 20px;
}

.movies-col {
  margin-top: 15px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.movies {
  font-size: 2vh;
  font-weight: bold;
  color: red;
}

.search-box {
  position: relative;
  margin: 0 auto;
  bottom: 100px;
  width: 50%;
}
