.home-page {
  margin: 10px;
  padding: 20px;
}

.movies-col {
  margin-top: 15px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.responsive-image-70 {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.movies {
  font-size: 2vh;
  font-weight: bold;
  color: red;
}

.search-box {
  position: relative;
  margin: 0 auto;
  bottom: 150px;
  width: 50%;
}

.head-title {
  position: relative;
  font-size: 1.5vw;
  margin: 0 auto;
  bottom: 200px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}
